<h2>Portfolio</h2>
<div class="grid-container">
    <div class="grid-item">
        <figure>
            <img src="./img/electric-charge.jpg" alt="Use Hybrid Car"> 
            <figcaption>Use Hybrid Car</figcaption>
        </figure>
    </div>
    <div class="grid-item">
        <figure>
            <img src="./img/plastic.jpeg" alt="Plastic bottle on beach"> 
            <figcaption>Avoid use of plastic</figcaption>
        </figure>
    </div>
    <div class="grid-item">
        <figure>
            <img src="./img/portfolio-plant.jpeg" alt="plant growing"> 
            <figcaption>Grow more trees</figcaption>
        </figure>
    </div>
    <div class="grid-item">
        <figure>
            <img src="./img/rain-water.jpg" alt="Rain water"> 
            <figcaption>Conserve Rain Water</figcaption>
        </figure>
    </div>
    <div class="grid-item">
        <figure>
            <img src="./img/recycle.jpg" alt="Recycle"> 
            <figcaption>Reduce,Recycle and Reuse</figcaption>
        </figure>
    </div>
    <div class="grid-item">
        <figure>
            <img src="./img/solar-solar.jpeg" alt="Solar Panels"> 
            <figcaption>Use renewable energgy</figcaption>
        </figure>
    </div>    
</div>